<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-xhook"
    version="4.1.11">

    <name>Xhook</name>

    <engines>
      <engine name="cordova" version="&gt;=8.0.0" />
      <engine name="cordova-android" version="&gt;=7.0.0" />
      <engine name="cordova-ios" version="&gt;=4.5.0" />
    </engines>
    
    <js-module name="Xhook" src="www/xhooks.js">
        <clobbers target="sap.Xhook"/>
    </js-module>

</plugin>
